body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.converter-container {
    position: relative; 
    display: flex;
}

.converter{
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 100px;
    margin: 100px;
}

.converter__input {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.converter__input_2 {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px ;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.converter-container__title {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0 10px;
}

.converter__select{
    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

.converter__select_2{
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


